/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require toastr_rails
 *= require_self
 *= require_tree .
 */

@import 'slick';
@import 'slick-theme';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.slick-prev::before, .slick-next::before {
  color: #2980b9;
  opacity: 100;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  position: inherit;
  margin-top: 10px;
  margin-left: 0;
  bottom: 0;
  text-align: left;
  li {
    width: 50px;
    img {
      width: 50px;
    }
  }
}